backports.functools-lru-cache==1.6.6
certifi==2020.6.20
chardet==4.0.0
cycler==0.10.0
idna==2.10
intel-openmp==2024.0.2
kiwisolver==1.1.0
matplotlib==2.2.5
mkl==2024.0.0
numpy==1.16.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2024.1
requests==2.27.1
scipy==1.2.3
six==1.16.0
subprocess32==3.5.4
tbb==2021.11.0
urllib3==1.26.18
